[functions]
directory = "netlify/functions"

[build]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "20.19.4"
SITE_URL = "https://www.musicstudio-ziebart.de"

[[headers]]
for = "/*"

[headers.values]
Attribution-Reporting-Eligible = '{"trigger": "true"}'
Attribution-Reporting-Support = '{"os": "true"}'
X-Frame-Options = "SAMEORIGIN"
X-XSS-Protection = "1; mode=block"
Access-Control-Allow-Origin = "https://www.musicstudio-ziebart.de"
Vary = "Origin"
Timing-Allow-Origin = "https://www.musicstudio-ziebart.de"
Access-Control-Allow-Methods = "GET,POST,PUT,PATCH,DELETE"
Access-Control-Allow-Credentials = "true"
X-Content-Type-Options = "nosniff"
