---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Datenschutzerklärung";
const SITE_URL =
import.meta.env.SITE_URL || "https://www.musicstudio-ziebart.de";
const pageUrl = `${SITE_URL}/datenschutz/`;
// const nonce = Astro.props.nonce || "";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Datenschutz"
  keywords="datenschutz"
  href={pageUrl}
>
  <section>
    <p>
      Lesen Sie unsere vollständige Datenschutzerklärung und Cookie-Richtlinien
      hier:
      <br />
      <br />
      <a
        href="https://www.iubenda.com/privacy-policy/80237852"
        class="iubenda-white iubenda-noiframe iubenda-embed normal-links iubenda-noiframe"
        title="Datenschutzerklärung"
      >
        Datenschutzerklärung
      </a>
    </p>
    <br />
    <p>
      <a
        href="https://www.iubenda.com/privacy-policy/80237852/cookie-policy"
        class="iubenda-white iubenda-noiframe iubenda-embed normal-links iubenda-noiframe"
        title="Cookie-Richtlinie"
      >
        Cookie-Richtlinie
      </a>
    </p>

     <!-- Iubenda Skript für Datenschutzerklärung & Cookie-Richtlinie -->
    <script type="text/javascript" src="/scripts/iubenda.js" defer></script>
  </section>

  <!--
  <h3>
    <a href="/anbieter/" class="normal-links">Anbieterliste</a>
  </h3> -->
  <br />
  <section>
    <div class="wrapper">
      <h3>iubenda Cookie Solution</h3>
      <p>Google Tag Manager integration for CCPA, GDPR and per-category consent</p>
  </div>
  </section>
  <p>
    <a href="/" class="normal-links">go back!</a>
  </p>
  <br />
</BaseLayout>
