---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ThankYou";
const description = "Kostenloser Probeunterricht";
const pageUrl = new URL(Astro.url.pathname, Astro.site).toString();
---
<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords="kontakt"
  href={pageUrl}
>
<h2>Dankeschön</h2>
<p>
    Ihre Nachricht ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.
</p>
<br>
<p>
    <a href="/" class="normal-links">go back!</a>
</p>
</BaseLayout>