---

---

<!--footer-->
<footer>
  <ul class="navigation-links">
    <li>
      <a href="/datenschutz/" class="normal-links">Datenschutzerklärung</a>
    </li>
    <li><a href="/impressum/" class="normal-links">Impressum</a></li>
  </ul>
  <div>&copy; 2025 by Musikstudio Ziebart. All rights reserved.</div>
</footer>

<style>
  footer {
    font-size: calc(0.75rem + var(--font-scale));
    margin-bottom: 32px;
    background: #000000;
    color: #e2dbdb;
    margin: 0 auto;
    padding: 3px 24px;
    width: 100%;
    max-width: 1260px;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .navigation-links a {
    color: #e2dbdb;
  }
</style>
