---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./Navigation.astro";
import SecondaryNavigation from "./SecondaryNavigation.astro"; 
const nonce = Astro.props.nonce || ""; // Nonce wird extrahiert

console.log("[SERVER] ThemeIcon wird auf dem Server verarbeitet!"); 
---
<header>
  <div class="author">
    Author: Musicstudio Ziebart
  </div>
  <nav>
    <Hamburger /> 
    <ThemeIcon nonce={nonce}/> // Die nonce wird an ThemeIcon-Komponente weiter gegeben
    <Navigation />
    <SecondaryNavigation />
  </nav>
</header>

<script nonce={nonce}> // Der nonce-Wert wird korrekt in das Inline Script übergeben
  console.log("[BROWSER] ThemeIcon Inline-Skript läuft!");
</script>